name = "POMDPs"
uuid = "a93abf59-7444-517b-a68a-c42f96afdd7d"
version = "0.8.1"

[deps]
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
LibGit2 = "76f85450-5226-5b5a-8eaa-529ad045b433"
LightGraphs = "093fc24a-ae57-5d10-9952-331d41423f4d"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
NamedTupleTools = "d9ec5142-1e00-5aa0-9d6a-321866360f50"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
